.profilecard
{
    width:90%;
    margin-top:10px;
    background:white;
    border-radius: 13px;
    display:flex;
    flex-direction: column;
}
.profileimages2
{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.profileimages2>img:nth-of-type(1)
{
    width:100%;
    height:65vh;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
   
}
.profileimages2>img:nth-of-type(2)
{
    width:6rem;
    border-radius: 50%;
    position:absolute;
    bottom: -3rem;
    box-shadow: 1px 1px 12px black;
}
.profilename2
{
    width:100%;
    margin-top:20%;
    
}
.profilename2>span:nth-of-type(1)
{
    position: relative;
    left:44%;
    top:-180%;
    text-transform: capitalize;
    font-size: 25px;
    font-weight:bold;
}
.profilename2>span:nth-of-type(2)
{
    position: relative;
    left:44%;
    top:-180%;
    text-transform: capitalize;
}
.followers1
{
    border-top: 2px solid rgb(189, 187, 187);
    border-bottom: 2px solid rgb(189, 187, 187);
    width:100%;
    display:grid;
    grid-template-columns: 25rem 27rem;
    height:10vh;
}

.count1
{
    margin-top:20px;
    margin-bottom:20px;
    position:relative;
    display:grid;
    grid-template-columns: 25rem 27rem;
    
}
.count1>div:nth-of-type(1)
{
    width:70%;
  position:relative;
  left:30%;
  top:0px;
  border-right: 2px solid rgb(187, 184, 184);
}
.count1>div:nth-of-type(2)
{
  position:relative;
  left:30%;
  
  top:-0px;

}
.count1>div>p:nth-of-type(1)
{
    margin-left: 20px;
}
.myprofile
{
    width:100%;
   
}
.myprofile h4{
    color:orange;
    text-transform: capitalize;
    margin-left:35%;
    margin-top: 7%;
    margin-bottom: 7%;
}